region                 = "" # an aws region
key_name               = "" # does not need to be set
vpc_cidr_block         = "" # cidr range for the vpc
asg_desired_capacity   = "" # the nubmer of asg instances
# the following will be moved to secrets manager
kong_database_password = ""
ee_bintray_auth        = "placeholder"
ee_license             = "placeholder" # the word 'placeholder' will trigger the community editon install 
